{extend name="admin@public/base" /}
{block name="main-content"}
	<script src="/static/uploadify/api-uploadify.js" type="text/javascript"></script>
	<div class="page-content">
		<!--主题-->
		<div class="page-header">
			<h1>
				您当前操作
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
					 修改司机信息
				</small>
			</h1>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<form class="form-horizontal ajaxForm" name="sys" method="post" action="{:url('driverEdit')}">
					<input type="hidden" name="id" id="id" value="{$result.id}" />
					{if condition="$driver_type_state eq 1"}
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 司机类型： </label>
						<div class="col-sm-9">
							<div class="radio" >
							{if condition="$driver_type_multi eq 0"}
								{foreach name='$driver_type_list' item="v"}
								<label id="class_{$result.type}">
									<input name="type" id="beno" type="radio"  {if condition="$result['type'] eq (string)$v['id'] "}checked{/if} class="ace ace-checkbox-2" value="{$v['id']}"/>
									<span class="lbl">{$v.name}</span>
								</label>
								{/foreach}
							{else /}
								{foreach name='$driver_type_list' item="v"}
								<label id="class_{$result.type}">
									<input class="ace ace-checkbox-2" name="type[]"  {if condition="strstr($result['type'], (string)$v['id'] )"}checked{/if} type="checkbox"  value="{$v.id}" />
 									<span class="lbl">{$v.name}</span>
								</label>
								{/foreach}
							{/if}
								
							</div>
						</div>
					</div>
					<div class="space-4"></div>
					{/if}

					{if condition="$driver_class_state eq 1"}
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 司机类型： </label>
						<div class="col-sm-9">
							<div class="radio" >
							{if condition="$driver_class_multi eq 0"}
								{foreach name='$driver_class_list' item="v"}
								<label id="class_{$result.type}">


									<input name="class_id" id="beno" type="radio"  {if condition="$result['class_id'] eq $v['id'] "}checked{/if} class="ace ace-checkbox-2" value="{$v.id}"/>
									<span class="lbl">{$v.name}</span>
								</label>
								{/foreach}
							{else /}
								{foreach name='$driver_class_list' item="v"}
								<label id="class_{$result.type}">
									<input class="ace ace-checkbox-2" name="class_id[]"  {if condition="strstr($result['class_id'], (string)$v['id'] )"}checked{/if} type="checkbox"  value="{$v.id}" />
 									<span class="lbl">{$v.name}</span>
								</label>
								{/foreach}
							{/if}
								
							</div>
						</div>
					</div>
					<div class="space-4"></div>
					{/if}
				{if condition="$driver_sex_state eq 1"}
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 性别： </label>
						<div class="col-sm-9">
							<div class="radio" >
							{if condition="$driver_sex_multi eq 0"}
								{foreach name='$driver_sex_list' item="v"}
								<label id="class_{$result.sex}">
									<input name="sex" id="beno" type="radio"  {if condition="$result['sex'] eq (string)$v['id'] "}checked{/if} class="ace ace-checkbox-2" value="{$v.id}"/>
									<span class="lbl">{$v.name}</span>
								</label>
								{/foreach}
							{else /}
								{foreach name='$driver_sex_list' item="v"}
								<label id="class_{$result.sex} >
									<input class="ace ace-checkbox-2" name="sex[]"  {if condition="strstr($result['sex'], (string)$v['id'] )"}checked{/if} type="checkbox"  value="{$v.id}" />
 									<span class="lbl">{$v.name}</span>
								</label>
								{/foreach}
							{/if}
								
							</div>
						</div>
					</div>
					<div class="space-4"></div>
					{/if}

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 薪资要求： </label>
						<div class="col-sm-9">
							<input type="text" name="salary" id="salary" value="{$result.salary}"  class="col-xs-10 col-sm-6" required/>
							<span class="help-inline col-xs-12 col-sm-3">
								<span class="middle red" id="restwo">*</span>
							</span>
						</div>
					</div>
					<div class="space-4"></div>

					<div class="form-group" id="pic_list">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 图片： </label>
						<div class="col-sm-9">
							<input type="hidden" name="checkpic" id="checkpic" value="{$sys.start_img}" />
							<input type="hidden" name="oldcheckpic" id="oldcheckpic" value="{$sys.start_img}" />
							<input type="hidden" name="oldcheckpicname" id="oldcheckpic" value="{$sys.start_img}" />
							<a href="javascript:;" class="file" title="点击选择所要上传的图片">
								<input type="file" name="file0" id="file0" multiple="multiple"/>
								选择上传文件
							</a>
							&nbsp;&nbsp;<a href="javascript:;" onclick="return backpic('{if condition="$sys.site_logo eq ''"}/static/img/no_img.jpg{else /}{$sys.start_img}{/if}');" title="还原修改前的图片" class="file">
							撤销上传
							</a>
							<div><img src="{if condition="$result.cover_img neq ''"}{$result.cover_img}{else/}/static/img/no_img.jpg{/if}" height="70" id="img0" ></div>
						</div>
					</div>
					<div class="space-4"></div>


					{if condition='$driver_education_level_state eq 1'}
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 文化程度： </label>
						<div class="col-sm-9">
						{if condition="$driver_education_level_multi eq 0"}
							<select name="education_level" id="driver_education_level_list" class="col-sm-6 selector" required>
								<option value="" selected>文化程度</option>
								{foreach name="driver_education_level_list" item="driver_education_level_list"}
								<option {if condition="$result.education_level eq $driver_education_level_list.id"} selected {/if}  value="{$driver_education_level_list.id}" >{$driver_education_level_list.name}</option>
								{/foreach}
							</select>
							<span class="help-inline col-xs-12 col-sm-3">
								<span class="middle red" id="restwo">*</span>
							</span>
						{else /}
							{foreach name="driver_education_level_list" item="driver_education_level_list"}
							<label id="class_{$result.education_level}">
								<input class="ace ace-checkbox-2" name="education_level[]"  {if condition="strstr($result['education_level'], (string)$driver_education_level_list['id'] )"}checked{/if} type="checkbox"  value="{$driver_education_level_list.id}" />
								<span class="lbl">{$driver_education_level_list.name}</span>
							</label>
							{/foreach}
							
						{/if}
						</div>
					</div>
					<div class="space-4"></div>
					{/if}
					{if condition="$name_state eq 1" }
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 姓名： </label>
						<div class="col-sm-9">
							<input type="text" name="name" id="name" value="{$result.name}"  class="col-xs-10 col-sm-6" required/>
							<span class="help-inline col-xs-12 col-sm-3">
								<span class="middle red" id="restwo">*</span>
							</span>
						</div>
					</div>
					<div class="space-4"></div>
					{/if}
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 籍贯： </label>
						<div class="col-sm-9">
							<select name="province_id" id="province_id" class="col-sm-3 selector" required>
								<option value="" selected>省份/直辖市</option>
								{foreach name="province" item="list"}
								<option {if condition="$result.province_id eq $list.id"} selected {/if} value="{$list.id}"  >{$list.name}</option>
								{/foreach}
							</select>
							<select  name="city_id" id="city_id" class="col-sm-3 selector" value="{$result.id}">{$result.name} required>
								<!--<option value="{$result.city_id}">{$result.homecity}</option>-->
								{foreach name="citylist" item="list"}
								<option {if condition="$result.city_id eq $list.id"} selected {/if} value="{$list.id}"  >{$list.name}</option>
								{/foreach}
							</select>
							<span class="help-inline col-xs-12 col-sm-3">
								<span class="middle red" id="restwo">*</span>
							</span>
						</div>
					</div>
					<div class="space-4"></div>
					{if condition="$national_state eq 1" }
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 民族： </label>
						<div class="col-sm-9">
							<input type="text" name="nation" id="nation" value="{$result.nation}"  class="col-xs-10 col-sm-6" required/>
							<span class="help-inline col-xs-12 col-sm-3">
								<span class="middle red" id="restwo">*</span>
							</span>
						</div>
					</div>
					<div class="space-4"></div>
					{/if}
					{if condition="$tel_state eq 1"}
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 电话： </label>
						<div class="col-sm-9">
							<input type="text" name="telphone" id="telphone" value="{$result.telphone}"  class="col-xs-10 col-sm-6" required/>
							<span class="help-inline col-xs-12 col-sm-3">
								<span class="middle red" id="restwo">*</span>
							</span>
						</div>
					</div>
					<div class="space-4"></div>
					{/if}
					{if condition="$age_state eq 1"}
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 年龄： </label>
						<div class="col-sm-9">
							<input type="text" name="age" id="age" value="{$result.age}"  class="col-xs-10 col-sm-6" required/>
							<span class="help-inline col-xs-12 col-sm-3">
								<span class="middle red" id="restwo">*</span>
							</span>
						</div>
					</div>
					<div class="space-4"></div>
					{/if}
					{if condition="$driver_age_state eq 1"}
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 驾龄： </label>
						<div class="col-sm-9">
							<input type="text" name="driving_age" id="driving_age" value="{$result.driving_age}"  class="col-xs-10 col-sm-6" required/>
							<span class="help-inline col-xs-12 col-sm-3">
								<span class="middle red" id="restwo">*</span>
							</span>
						</div>
					</div>   
					<div class="space-4"></div>
					{/if}
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 工作区域： </label>
						<div class="col-sm-9">
							<select name="province" id="province" class="col-sm-3 selector" required>
								<option value="" selected>省份/直辖市</option>
								{foreach name="province" item="list"}
								<option {if condition="$result.province eq $list.id"} selected {/if} value="{$list.id}"  >{$list.name}</option>
								{/foreach}
							</select>
							<select  name="city" id="city" class="col-sm-3 selector" value="{$result.id}">{$result.name} required>
								<option value="" selected>区域/县级</option>
								{foreach name="workcitylist" item="list"}
								<option {if condition="$result.city eq $list.id"} selected {/if} value="{$list.id}"  >{$list.name}</option>
								{/foreach}
							</select>
							<span class="help-inline col-xs-12 col-sm-3">
								<span class="middle red" id="restwo">*</span>
							</span>
						</div>
					</div>
					<div class="space-4"></div>




					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 自我介绍 : </label>
						<div class="col-sm-9">
							<textarea  name="intro" cols="20" rows="3" class="col-xs-10 col-sm-7 limited1"   id="form-field-10"  maxlength="150">{$result.intro}</textarea>
							<input type="hidden" name="maxlengthone" value="150" />
							<span class="help-inline col-xs-5 col-sm-5">
									还可以输入 <span class="middle charsLeft1"></span> 个字符
							</span>
						</div>
					</div>
					<div class="space-4"></div>


					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 审核状态：</label>
						<div class="checkbox">
							<select name="is_check" id="is_check" class="col-sm-4 selector" required>
								<option {if condition="$result.is_check eq 1"} selected {/if} value="1">待审查</option>
								<option {if condition="$result.is_check eq 2"} selected {/if} value="2">通过</option>
								<option {if condition="$result.is_check eq 3"} selected {/if} value="3">不通过</option>
							</select>
							<span class="middle red" id="restwo">*</span>
						</div>
					</div>

					<div id="reject" class="form-group" {if condition="is_null($result.reject_reason) || $result.reject_reason eq ''"} style="display:none;" {/if}>
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 拒绝原因：  </label>
						<div class="col-sm-8">
							<input type="text" name="reject_reason" id="reject_reason" {if condition='$result.reject_reason eq 1'}checked {/if} class="col-xs-10 col-sm-4" value="{$result.reject_reason}" />
							<span class="middle red" id="restwo">*</span>
						</div>
					</div>
					<div class="space-4"></div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 是否发布： </label>
						<div class="col-sm-9" style="padding-top:5px;">
							<input name="is_effective" id="is_effective" {if condition="$info.is_effective neq 1"}checked{/if}  value="1" class="ace ace-switch ace-switch-5" type="checkbox" />
							<span class="lbl">默认发布</span>
						</div>
					</div>
					<div class="space-4"></div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 所属会员账号： </label>
						<div class="col-sm-9">
							<input type="text" name="member_list_tel" id="member_list_tel" value="{$result.member_list_tel}"  class="col-xs-10 col-sm-6" required/>
							<span class="help-inline col-xs-12 col-sm-3">
								<span class="middle red" id="restwo">*</span>
							</span>
						</div>
					</div>
					<div class="space-4"></div>

					<div class="clearfix form-actions">
						<div class="col-sm-offset-3 col-sm-9">
							<button class="btn btn-info" type="submit">
								<i class="ace-icon fa fa-check bigger-110"></i>
								保存
							</button>

							&nbsp; &nbsp; &nbsp;
							<button class="btn" type="reset">
								<i class="ace-icon fa fa-undo bigger-110"></i>
								重置
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{/block}
{block name="scripts"}
	<script>
	    //省变化
	    $("#province_id").change(function(){
	        var id = $("#province_id").val();

	        $.ajax({
	            type:"post",
	            url:"{:Url('getCity')}",
	            data:{
	                province_id:id
	            },
	            success:function(str){
	                $('#city_id').html(str);
	            }
	        });
	    });


        //籍贯省变化
        $("#province").change(function(){
            var id = $("#province").val();
            $.ajax({
                type:"post",
                url:"{:Url('getCity')}",
                data:{
                    province_id:id
                },
                success:function(str){
                    $('#city').html(str);
                }
            });
        });

        //拒绝原因显示与否
        $("#is_check").change(function () {
            console.log($(this).find("option:selected").val())
            if($(this).find("option:selected").val()==3){
                $("#reject").show()
			}else{
                $("#reject").hide()
				$("#reject_reason").val("");
            }
        })
	</script>
{/block}
