{extend name="admin@public/base" /}
{block name="main-content"}
<script src="/static/uploadify/api-uploadify.js" type="text/javascript"></script>
<style>
    a:hover{
        text-decoration:none;
        cursor:pointer;
    }
    a{
        font-size: 16px;
        display: inline-block;
        color: rgb(130,130,130);
    }
    .font{
        color: rgb(130,130,130);
        font-size: 16px;
        line-height: 24px;
    }
    .lab{
        text-align:right;
        font-size: 16px;
    }
    .h{
        height:50px;
    }
</style>
<div class="page-content">
    <!--主题-->
    <div class="page-header">
        <h1>
            您当前操作
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                合同详细内容
            </small>
        </h1>
    </div>
    <div class="row">
        <div class="col-xs-12 h">
            <label class="col-sm-2 lab control-label no-padding-right">
                合同名称：
            </label>
            <div class="col-sm-6">
                <span class="font col-xs-12 col-sm-3">
                    合同的名称32136465
                </span>
            </div>
        </div>
        <div class="col-xs-12 h">
            <label class="col-sm-2 lab control-label no-padding-right">
                合同主体：
            </label>
            <div class="col-sm-6">
                <span class="font col-xs-12 col-sm-3">
                    合同的主体32136465
                </span>
            </div>
        </div>
        <div class="col-xs-12 h">
            <label class="col-sm-2 lab control-label no-padding-right">
                金额：
            </label>
            <div class="col-sm-6">
                <span class="font col-xs-12 col-sm-3">
                    $1250.83
                </span>
            </div>
        </div>
        <div class="col-xs-12 h">
            <label class="col-sm-2 lab control-label no-padding-right">
                起止时间：
            </label>
            <div class="col-sm-6">
                <span class="font col-xs-12 col-sm-6">
                    2017/8/8--2017/8/9
                </span>
            </div>
        </div>
        <div class="col-xs-12 h">
            <label class="col-sm-2 lab control-label no-padding-right">
                是否授权：
            </label>
            <div class="col-sm-6">
                <span class="font col-xs-12 col-sm-6">
                    已授权
                </span>
            </div>
        </div>
        <div class="col-xs-12" style="min-height: 150px;">
            <label class="col-sm-2 lab control-label no-padding-right">
                合同摘要：
            </label>
            <br/>
            <div class="col-sm-12">
                <span class="col-sm-2"></span>
                <span class="font col-xs-12 col-sm-8">
                    2017/8/8--2017/8/92017/8/8--2017/8/92017/8/8--2017/8/92017/8/8--2017/8/92017/8/8--2017/8/92017/8/8--2017/8/92017/8/8--2017/8/92017/8/8--2017/8/92017/8/8--2017/8/92017/8/8--2017/8/92017/8/8--2017/8/92017/8/8--2017/8/92017/8/8--2017/8/92017/8/8--2017/8/92017/8/8--2017/8/92017/8/8--2017/8/92017/8/8--2017/8/92017/8/8--2017/8/92017/8/8--2017/8/92017/8/8--2017/8/92017/8/8--2017/8/92017/8/8--2017/8/92017/8/8--2017/8/92017/8/8--2017/8/92017/8/8--2017/8/92017/8/8--2017/8/92017/8/8--2017/8/92017/8/8--2017/8/92017/8/8--2017/8/92017/8/8--2017/8/92017/8/8--2017/8/92017/8/8--2017/8/9
                </span>
            </div>
        </div>
        <div class="col-xs-12 h">
            <label class="col-sm-2 lab control-label no-padding-right">
                附件：
            </label>
            <div class="col-sm-6">
                <table class="table table-striped">
                    <!--从这里-->
                    <tr>
                        <td colspan="30"><a href="http://baidu.com">Tanmay</a></td>
                        <td><a href="http://baidu.com">下载</a></td>
                    </tr>
                    <!--到这里-->
                    <!--最下面的线-->
                    <tr>
                        <td colspan="30"></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

{/block}
{block name="scripts"}
{/block}
