{extend name="admin@public/base" /}
{block name="main-content"}
	<div class="page-content">

		<div class="row maintop">
			<div class="col-xs-12 col-sm-1">
				<a href="{:Url('ContractAdd')}">
					<button class="btn btn-xs btn-danger">
						<i class="ace-icon fa fa-bolt bigger-110"></i>
						添加合同
					</button>
				</a>
			</div>

			<!--<div class="col-xs-12 col-sm-9">
				<form name="admin_list_sea" class="form-search" method="post" action="{:Url('index')}">
					<div class="input-group">
						<input style="padding: 4px 4px 3px;" class="col-sm-2" type="text" name="telphone" id="key" class="form-control search-query admin_sea"  placeholder="电话" />
						<select class="col-sm-2"  name="type">
							<option value="">请选择机械类型</option>
							{foreach name='$type_list' item='type'}
							<option value="{$type.id}" >{$type.name}</option>
							{/foreach}
						</select>
						<select class="col-sm-2"  name="class_id">
							<option value="" selected>请选择类型</option>
							{foreach name='$style_list' item='style'}
							<option value="{$style.id}" >{$style.name}</option>
							{/foreach}
						</select>
						<select class="col-sm-2"  name="province_id" id="province_id">
							<option value="">省份/直辖市</option>
							{foreach name="province" item="v"}
								<option value="{$v.id}" {if condition="$v['id'] eq input('province_id')"}selected{/if}>{$v.name}</option>
							{/foreach}
						</select>
						<select class="col-sm-2"  name="city_id" id="city_id">
							<option value="">市/县</option>
							{foreach name="city_list" item="v"}
								<option value="{$v.id}" {if condition="$v['id'] eq input('city_id')"}selected{/if} >{$v.name}</option>
							{/foreach}
						</select>
						<span class="input-group-btn">
							<button type="submit" class="btn btn-xs  btn-purple">
								<span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
								搜索
							</button>
						</span>
					</div>
				</form>
			</div>-->

			<!--<div class="input-group-btn">
				<a href="{:Url('member_list')}">
					<button type="button" class="btn btn-xs  btn-purple">
						<span class="ace-icon fa fa-globe icon-on-right bigger-110"></span>
						显示全部
					</button>
				</a>
			</div>-->
		</div>


		<div class="row">
			<div class="col-xs-12">
				<div>
					<table class="table table-striped table-bordered table-hover" id="dynamic-table">
						<thead>
						<tr>
							<th class="hidden-xs">ID</th>
							<th class="hidden-sm hidden-xs">合同名称</th>
							<th class="hidden-sm hidden-xs">主体</th>
							<th class="hidden-sm hidden-xs">金额</th>
							<th class="hidden-sm hidden-xs">起始时间</th>
							<th class="hidden-sm hidden-xs">终止时间</th>
							<th class="hidden-sm hidden-xs">是否授权</th>
							<th class="hidden-sm hidden-xs">创建时间</th>
							<th style="border-right:#CCC solid 1px;">操作</th>
						</tr>
						</thead>

						<tbody>
						{foreach name="list" item="v"}
							<tr>
								<td class="hidden-xs" height="28" >{$v.id}</td>
								<td class="hidden-sm hidden-xs">{$v.contract_name|default="未设置"}</td>
								<td class="hidden-sm hidden-xs">{$v.main|default="未设置"}</td>
								<td>{$v.amount|default="未设置"}</td>
								{if condition='$v.start_time eq 0'}
								<td class="hidden-sm hidden-xs">未设置</td>
								{else /}
								<td class="hidden-sm hidden-xs">{$v.start_time|date='Y-m-d',###}</td>
								{/if}
								{if condition='$v.end_time eq 0'}
								<td class="hidden-sm hidden-xs">未设置</td>
								{else /}
								<td class="hidden-sm hidden-xs">{$v.end_time|date='Y-m-d',###}</td>
								{/if}
								{if condition='$v.auth eq 1'}
								<td class="hidden-sm hidden-xs">已授权</td>
								{elseif condition='$v.auth eq 2' /}
								<td class="hidden-sm hidden-xs">未知</td>
								{else /}
								<td class="hidden-sm hidden-xs">未授权</td>
								{/if}
								<td class="hidden-sm hidden-xs">{$v.create_time|date='Y-m-d H:i:s',###}</td>
								<td>
									<div class="hidden-sm hidden-xs action-buttons">
										<a class="green"  href="{:Url('contractEdit',array('id'=>$v['id'],'p'=>input('p',1)))}" title="修改">
											<i class="ace-icon fa fa-pencil bigger-130"></i>
										</a>
										<a class="red confirm-rst-url-btn" href="{:Url('contractDelete',array('id'=>$v['id'],'p'=>input('p',1)))}" data-info="你确定要删除吗？" title="删除">
											<i class="ace-icon fa fa-trash-o bigger-130"></i>
										</a>
									</div>
								</td>
							</tr>
						{/foreach}
						<tr>
							<td height="50" colspan="18" align="left">{$page}</td>
						</tr>
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div><!-- /.page-content -->
{/block}
{block name="scripts"}
	<script>
	    //省变化
//	    $("#province_id").change(function(){
//	        var id = $("#province_id").val();
//	        $.ajax({
//	            type:"post",
//	            url:"{:Url('getCity')}",
//	            data:{
//	                province_id:id
//	            },
//	            success:function(str){
//	                $('#city_id').html(str);
//	            }
//	        });
//	    });
	</script>
{/block}
