{extend name="Admin@Public/base"/}
{block name="main-content"}
	<div class="page-content">

		<div class="row maintop">
			<div class="col-xs-12 col-sm-1">
				<a href="{:Url('usedmechanicsAdd')}">
					<button class="btn btn-xs btn-danger">
						<i class="ace-icon fa fa-bolt bigger-110"></i>
						添加二手机械
					</button>
				</a>
			</div>

			<div class="col-xs-12 col-sm-9">
				<form name="admin_list_sea" class="form-search" method="post" action="{:Url('usedMechanicsList')}">
					<div class="input-group">
						<!--<span class="input-group-addon ">
							<i class="ace-icon fa fa-check"></i>
						</span>-->
						<input style="padding: 4px 4px 3px;" class="col-sm-3" type="text" name="mechanical_name" id="mechanical_name" class="form-control search-query admin_sea" {if condition="isset($data.mechanical_name)"} value="{$data.mechanical_name}" {else}  value="" placeholder="输入机械类型" {/if} />
						<input style="padding: 4px 4px 3px;" class="col-sm-3" type="text" name="brand_name" id="brand_name" class="form-control search-query admin_sea"  {if condition="isset($data.brand_name)"} value="{$data.c.brand_name}" {else}  value="" placeholder="输入机械品牌" {/if}/>
						<input style="padding: 4px 4px 3px;" class="col-sm-2" type="text" name="model_name" id="model_name" class="form-control search-query admin_sea" {if condition="isset($data.model_name)"} value="{$data.model_name}" {else}  value="" placeholder="输入机械型号" {/if}/>

							<select class="col-sm-2"  name="province_id" id="province_id">
								<option value="0" selected>省份/直辖市</option>
								{foreach name="province" item="value"}
								<option value="{$value.id}" >{$value.name}</option>
								{/foreach}
							</select>

							<select class="col-sm-2"  name="city_id" id="city_id">
								<option value="0">市/县</option>
							</select>
						<span class="input-group-btn">
											<button type="submit" class="btn btn-xs  btn-purple">
												<span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
												搜索
											</button>
										</span>
					</div>
				</form>
			</div>

			<div class="input-group-btn">
				<a href="{:Url('member_list')}">
					<button type="button" class="btn btn-xs  btn-purple">
						<span class="ace-icon fa fa-globe icon-on-right bigger-110"></span>
						显示全部
					</button>
				</a>
			</div>
		</div>


		<div class="row">
			<div class="col-xs-12">
				<div>
					<table class="table table-striped table-bordered table-hover" id="dynamic-table">
						<thead>
						<tr>
							<th class="hidden-xs">ID</th>
							<th>生产国</th>
							<th>类型</th>
							<th class="hidden-sm hidden-xs">品牌</th>
							<th class="hidden-sm hidden-xs">型号</th>
							<th class="hidden-sm hidden-xs">所在地</th>
							<th class="hidden-sm hidden-xs">公司名称</th>
							<th class="hidden-sm hidden-xs">车牌</th>
							<th class="hidden-sm hidden-xs">吨位</th>
							<th class="hidden-sm hidden-xs">出厂日期</th>
							<th class="hidden-sm hidden-xs">价格</th>
							<th class="hidden-sm hidden-xs">用户</th>
							<th class="hidden-sm hidden-xs">民族</th>
							<th class="hidden-sm hidden-xs">联系方式</th>
							<th class="hidden-sm hidden-xs">添加时间</th>
							<th class="hidden-sm hidden-xs">合格证</th>
							<th class="hidden-sm hidden-xs">发票</th>
							<th class="hidden-xs">审核状态</th>
							<th class="hidden-xs">激活状态</th>
							<th style="border-right:#CCC solid 1px;">操作</th>
						</tr>
						</thead>

						<tbody>

						{foreach name="list" item="v"}
						<tr>
							<td class="hidden-xs" height="28" >{$v.id}</td>
							<!--<td class="hidden-sm hidden-xs">{$v.brand_name|default="后台"}</td>-->
							<td class="hidden-sm hidden-xs">
								{if condition="$v.producing_country eq 160"}国产
								{elseif condition="$v.producing_country eq 161"/}合资
								{else /}进口
								{/if}
							</td>
							<td>{$v.mechanical_name|default="未设置"}</td>
							<td class="hidden-sm hidden-xs">{$v.brand_name|default="未设置"}</td>
							<td class="hidden-sm hidden-xs">{$v.model_name|default="未设置"}</td>
							<td class="hidden-sm hidden-xs">{$v.name}</td>
							<td class="hidden-sm hidden-xs">{$v.company_name}</td>
							<td class="hidden-sm hidden-xs">{$v.car_number}</td>
							<td class="hidden-sm hidden-xs">{$v.tonnage}</td>
							<td class="hidden-sm hidden-xs">{$v.manufacture_date}</td>
							<td class="hidden-sm hidden-xs">{$v.price}</td>
							<td class="hidden-sm hidden-xs">{$v.member_list_tel}</td>
							<td class="hidden-sm hidden-xs">{$v.nation}</td>
							<td class="hidden-sm hidden-xs">{$v.telphone}</td>
							<td class="hidden-sm hidden-xs">{$v.create_time|date='Y-m-d H:i:s',###}</td>
							<td class="hidden-sm hidden-xs">
								{if condition="$v.is_certificate eq 1"}有
								{else /}无
								{/if}
							</td>
							<td class="hidden-sm hidden-xs">
								{if condition="$v.is_invoice eq 0"}无
								{else /}有
								{/if}
							</td>
							{if condition='$v.is_check eq 1'}
							<td class="hidden-sm hidden-xs">待审核</td>
							{elseif condition='$v.is_check eq 2' /}
							<td class="hidden-sm hidden-xs">已通过</td>
							{else /}
							<td class="hidden-sm hidden-xs">未通过</td>
							{/if}
							<td class="hidden-xs">
								{if condition='$v.is_effective eq 1'}
								<a class="red active-btn" href="{:Url('usedmechanics_active')}" data-id="{$v.id}" title="已激活">
									<div id="jh{$v.id}">
										<button class="btn btn-minier btn-yellow">已激活</button>
									</div>
								</a>
								{else/}
								<a class="red active-btn" href="{:Url('usedmechanics_active')}" data-id="{$v.id}" title="未激活">
									<div id="jh{$v.id}">
										<button class="btn btn-minier btn-danger">未激活</button>
									</div>
								</a>
								{/if}
							</td>
							<td>
								<div class="hidden-sm hidden-xs action-buttons">
									<a class="green"  href="{:Url('usedmechanicsEdit',array('id'=>$v['id']))}" title="修改">
										<i class="ace-icon fa fa-pencil bigger-130"></i>
									</a>
									<a class="red confirm-rst-url-btn" href="{:Url('usedMechanics_del',array('id'=>$v['id'],'p'=>input('p',1)))}" data-info="你确定要删除吗？" title="删除">
										<i class="ace-icon fa fa-trash-o bigger-130"></i>
									</a>
								</div>
								<div class="hidden-md hidden-lg">
									<div class="inline position-relative">
										<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
											<i class="ace-icon fa fa-cog icon-only bigger-110"></i>
										</button>
										<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
											<li>
												<a href="{:Url('usedmechanicsEdit',array('id'=>$v['id']))}" class="tooltip-success" data-rel="tooltip" title="" data-original-title="修改">
																	<span class="green">
																		<i class="ace-icon fa fa-pencil bigger-120"></i>
																	</span>
												</a>
											</li>

											<li>
												<a href="{:Url('usedMechanics_del',array('id'=>$v['id'],'p'=>input('p',1)))}"  class="tooltip-error confirm-rst-url-btn" data-info="你确定要删除吗？" data-rel="tooltip" title="" data-original-title="删除">
																	<span class="red">
																		<i class="ace-icon fa fa-trash-o bigger-120"></i>
																	</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</td>
						</tr>
						{/foreach}
						<tr>
							<td height="50" colspan="20" align="left">{$page}</td>
						</tr>
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div><!-- /.page-content -->
{/block}
{block name="scripts"}
<script>
    //省变化
    $("#province_id").change(function(){
        var id = $("#province_id").val();
        $.ajax({
            type:"post",
            url:"{:Url('getCity')}",
            data:{
                province_id:id
            },
            success:function(str){
                $('#city_id').html(str);
            }
        });
    });
</script>
{/block}

